/* 기본설정 */
* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
html,
body {
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-family: "Pretendard-Regular";
  word-break: keep-all;
  overflow: hidden;
}

/* intro */
.intro {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-image: linear-gradient(#221d3a, #1a1a1a);
}
.intro video {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.intro #canvas {
  display: block;
}
