/* body */
html,
body {
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-family: "Pretendard-Regular";
  word-break: keep-all;
}
.hidden {
  overflow: hidden;
}
.xhidden {
  overflow-x: hidden;
}
body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../source/index/overlay.gif);
  content: "";
  z-index: 50;
  pointer-events: none;
  opacity: 0.05;
}

/* header top */
header .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 22;
}
header .top h1 a {
  font-family: "Hahmlet-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: normal;
}
header .top img {
  width: 45px;
  animation: logo 3s infinite linear;
}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* header bar */
header .top .bar {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}
header .top .bar li {
  width: 100%;
  background-color: #f9f9f9;
  height: 3px;
  border-radius: 5rem;
  transition: 0.5s;
}
header .top .bar li:nth-child(1).on {
  transform: rotate(45deg);
  top: 50%;
  position: absolute;
}
header .top .bar li:nth-child(2).on {
  opacity: 0;
}
header .top .bar li:nth-child(3).on {
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
}
/* header menu circle */
header .menu_circle {
  position: fixed;
  top: -50px;
  right: -50px;
  width: 50px;
  height: 50px;
  background-color: #f9f9f934;
  border-radius: 50%;
  transition: 1s;
  z-index: 21;
  backdrop-filter: blur(1px);
}
header .menu_circle.on {
  transform: scale(100);
}
/* header menu */
header .menu {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 21;
}
header .menu .left,
header .menu .right {
  width: 25%;
  display: flex;
  align-items: end;
  box-sizing: border-box;
  padding: 0 0 1rem 1rem;
}
header .menu .left h2,
header .menu .right h2 {
  font-size: 8.5vw;
  color: #1a1a1a81;
}
header .menu span {
  font-size: 10vw;
  color: #1a1a1a;
}
header .menu .middle {
  width: 50%;
  border-left: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  background-color: #1a1a1ac8;
}
header .menu .middle li {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 100%;
  transition: 0.5s;
  text-align: center;
}
header .menu .middle li a {
  display: block;
}
header .menu .middle li:hover {
  background-color: #f9f9f9;
  color: #1a1a1a;
}
header .menu .middle li.on {
  background-color: #f9f9f9;
  color: #1a1a1a;
}
header .menu.on {
  display: flex;
}
/* header fix menu */
header .fix_menu {
  position: fixed;
  height: 120px;
  width: 7px;
  right: 1rem;
  top: 50%;
  transform: translateY(-35%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}
header .fix_menu li {
  width: 7px;
  height: 7px;
  background-color: #f9f9f9;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.5s;
}
header .fix_menu li.on {
  transform: scale(1.5);
  opacity: 1;
}
header .fix_menu a {
  width: 10px;
  height: 10px;
  display: block;
}

/* main, section */
main {
  width: 100%;
}
section {
  width: 100%;
  height: 100vh;
}

/* 기본 도형 틀 */
.circle,
.circle2 {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: pink;
  z-index: 1;
}
.circle2 {
  border-radius: 50% 0 50% 50%;
}
.cross {
  width: 13vw;
  height: 13vw;
  position: relative;
}
.cross .lineX {
  width: 100%;
  height: 1.5vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.cross .lineX li {
  width: calc(100% / 2 - 1rem);
  height: 100%;
  background-color: #6499e9;
  border-radius: 5rem;
}
.cross .lineY {
  height: 100%;
  width: 1.5vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cross .lineY li {
  width: 100%;
  height: calc(100% / 2 - 1rem);
  background-color: #6499e9;
  border-radius: 5rem;
}

/* visual */
.visual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 0;
  position: relative;
}
/* visual txt */
.visual h2 {
  font-size: 4vw;
  font-family: "twaysky";
}
.visual .middle h2 {
  font-family: "LOTTERIADDAG";
  font-size: 6vw;
}
.visual .wp,
.visual .wd {
  border-radius: 5rem;
  position: relative;
  height: 10vw;
  width: 43vw;
}
.visual .wp h2,
.visual .wd h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43vw;
  text-align: center;
}
.visual p {
  font-size: 0.9rem;
}
.visual .name {
  height: fit-content;
  position: relative;
}
.visual .name .front {
  width: 100%;
  height: 100%;
  position: absolute;
}
.visual .name .front li {
  width: 100%;
  height: 50%;
  background-color: #1a1a1a;
}
.visual .name .front li:nth-child(1) {
  animation: movB1 2s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.visual .name .front li:nth-child(2) {
  animation: movB2 2s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
/* visual 공통 */
.visual > div {
  margin: 0px auto;
}
.visual .top,
.visual .middle,
.visual .bottom {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual .right {
  display: flex;
  align-items: center;
  position: relative;
  height: 10vw;
}
/* visual top */
.visual .top .right {
  width: 55%;
}
.visual .top .wp {
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: #1eae98;
  animation: xb 1s linear;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .top .wp h2 {
  animation: up 1s linear;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .top .circle2 {
  background-color: #faef5d;
  position: absolute;
  right: 0;
  animation: rot1 1s linear;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .top .circle {
  background-color: #ff008e;
  position: absolute;
  right: -10vw;
  animation: bom1 1s linear;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
/* visual middle */
.visual .middle {
  justify-content: center;
}
.visual .middle > div:first-child {
  background-color: #faef5d;
  position: absolute;
  left: -8vw;
  animation: rot2 1.5s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 0px;
}
.visual .middle div:last-child {
  background-color: #1eae98;
  position: absolute;
  right: -8vw;
  animation: rot3 1.5s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 0px;
}
/* visual bottom */
.visual .bottom .right {
  width: 20%;
}
.visual .bottom .wd {
  background-color: #ff008e;
  animation: xb 1s linear;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .bottom .wd h2 {
  animation: up 1s linear;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .bottom .circle2 {
  background-color: #ff008e;
  transform: rotate(180deg);
  animation: rot4 1s linear;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .bottom .circle {
  background-color: #6499e9;
  position: absolute;
  right: 0px;
  animation: rot5 1s linear;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 0px;
}
/*visual cross*/
.visual .crossWrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.visual .cross {
  position: absolute;
}
.visual .cross.one {
  right: 15%;
  top: 15%;
  animation: rot6 1s linear;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .cross.two {
  left: 30%;
  bottom: 10%;
  transform: rotate(45deg);
  animation: rot7 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .cross.two li {
  background-color: #faef5d;
}
/* visual animation */
@keyframes movB1 {
  100% {
    transform: translateY(-200px);
  }
}
@keyframes movB2 {
  100% {
    transform: translateY(200px);
  }
}
@keyframes xb {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    top: 80%;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
@keyframes rot1 {
  0% {
    transform: translateX(150px) rotate(0deg) scale(0.8);
  }
  100% {
    transform: translateX(0) rotate(360deg) scale(1);
    opacity: 1;
  }
}
@keyframes rot2 {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
  }
  70% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px) rotate(360deg);
    opacity: 1;
    border-radius: 50%;
  }
}
@keyframes rot3 {
  0% {
    transform: translateX(-500px) rotate(0deg);
    opacity: 0;
  }
  70% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px) rotate(360deg);
    opacity: 1;
    border-radius: 50%;
  }
}
@keyframes rot4 {
  0% {
    transform: translateX(-150px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(360deg);
  }
}
@keyframes rot5 {
  0% {
    transform: translateX(150px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(180deg);
    border-radius: 50%;
  }
}
@keyframes rot6 {
  0% {
    transform: scale(0) rotate(0deg) translateX(150px) translateY(50px);
  }
  100% {
    transform: scale(1) rotate(360deg) translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes rot7 {
  0% {
    transform: scale(0) rotate(360deg);
  }
  55% {
    transform: scale(1.5) rotate(45deg);
  }
  63% {
    transform: scale(0.5);
  }
  72% {
    transform: scale(1.3) rotate(45deg);
  }
  80% {
    transform: scale(0.8);
  }
  86% {
    transform: scale(1.1) rotate(45deg);
  }
  97% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
}
@keyframes bom1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  55% {
    transform: scale(1.5);
  }
  63% {
    transform: scale(0.5);
  }
  72% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(0.8);
  }
  86% {
    transform: scale(1.1);
  }
  97% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* vision */
.vision {
  position: relative;
  z-index: 12;
  background-color: #1a1a1a;
}
.vision .top br {
  display: none;
}
.vision .top,
.vision .bottom {
  background-color: #6499e9;
  color: #1a1a1a;
}
/* vision top */
.vision .top {
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 5rem 5rem 0 0;
}
.vision .top h2 {
  font-size: 6vw;
  font-family: "LOTTERIADDAG";
}
/* vision middle */
.vision .middle {
  height: 50%;
  position: relative;
}
.vision .middle .wrap {
  width: 100%;
  height: 70%;
  top: 20%;
  position: absolute;
}
/* vision line */
.vision .middle .lineWrap {
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vision .middle .line {
  width: 100%;
  height: 1px;
  background-color: #f9f9f9;
}
/* vision detail */
.vision .middle .detail {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 0px;
}
.vision .middle .wrap h2 {
  height: 8vw;
  border-radius: 5rem;
  line-height: 8vw;
  margin-bottom: 1rem;
  font-size: 3vw;
  color: #1a1a1a;
}
.vision .middle .now h2 {
  background-color: #ff008e;
}
.vision .middle .future h2 {
  background-color: #1eae98;
}
.vision .middle .now p,
.vision .middle .future p {
  line-height: 1.7;
  height: 144px;
  font-size: 14px;
}
.vision .middle span {
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-block;
  margin-bottom: 0.2rem;
}
.vision .middle .now span {
  color: #ff008e;
}
.vision .middle .future span {
  color: #1eae98;
}
.vision .middle .now,
.vision .middle .future {
  width: 25%;
  text-align: center;
}
/* vision circle */
.vision .middle .circleL,
.vision .middle .circleR {
  display: flex;
}
.vision .circle {
  width: 8vw;
  height: 8vw;
}
.vision .center {
  background-color: #faef5d;
}
.vision .circleL div:first-child {
  background-color: #1eae98;
}
.vision .circleL div:last-child {
  background-color: #f9f9f9;
}
.vision .circleR div:first-child {
  background-color: #6499e9;
}
.vision .circleR div:last-child {
  background-color: #ff008e;
}
/* vision bottom */
.vision .bottom {
  height: 30%;
  box-sizing: border-box;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.vision .bottom h2 {
  font-size: 5vw;
}
.vision .bottom .line {
  width: 80%;
  height: 1px;
  background-color: #1a1a1a;
  margin: 0rem auto;
}
.vision .bottom p {
  line-height: 1.5;
  width: 80%;
  margin: 0px auto;
}

/* aboutMe */
.aboutMe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.aboutMe .title {
  font-size: 10vw;
  position: absolute;
  opacity: 0.2;
  top: 0rem;
  left: 1rem;
}
/* aboutMe top */
.aboutMe .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1.3vw;
}
.aboutMe .top li:nth-child(1) {
  border-radius: 1rem;
  border: 1px dashed #f9f9f9;
  text-align: center;
  width: 16vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe .top img {
  width: 15vw;
  height: 19vw;
  border-radius: 1rem;
}
.aboutMe .top h3 {
  font-size: 3vw;
}
.aboutMe .top li:nth-child(3) {
  line-height: 2;
}
.aboutMe .top i {
  margin-right: 1.5rem;
  font-size: 1.5vw;
}
.aboutMe .top .sns i {
  font-size: 2vw;
  margin-top: 0.5rem;
}
/* aboutMe middle */
.aboutMe .middle {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 2rem;
  width: 68%;
  margin: 0px auto;
  font-size: 1.1vw;
  line-height: 1.8;
}
.aboutMe .middle li {
  display: flex;
  gap: 1.5rem;
  box-sizing: border-box;
  padding: 1rem;
}
.aboutMe .middle h3 {
  font-size: 1.2vw;
}
/* aboutMe bottom */
.aboutMe .bottom {
  width: 100%;
  position: relative;
  height: 25vh;
  line-height: 1.5;
}
.aboutMe .bottom .wrap {
  width: 100%;
  height: 25vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.aboutMe .bottom .wrap .line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  border: 1px solid #f9f9f9;
}
.aboutMe .bottom ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto;
}
.aboutMe .bottom p {
  position: absolute;
  font-size: 1vw;
  width: 28vw;
}
.aboutMe .bottom p b {
  font-size: 1.2vw;
}
.aboutMe .bottom .t {
  top: 50%;
  transform: translateY(-150%);
}
.aboutMe .bottom .b {
  bottom: 50%;
  transform: translateY(150%);
}
.aboutMe .bottom .cir {
  width: 1vw;
  height: 1vw;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.aboutMe .bottom li:nth-child(3) .cir,
.aboutMe .bottom li:nth-child(5) .cir,
.aboutMe .bottom li:nth-child(8) .cir,
.aboutMe .bottom li:nth-child(9) .cir {
  opacity: 0.3;
}

/* skills */
.skills {
  height: 18vw;
  overflow: hidden;
}
.skills > div {
  height: 50%;
  position: relative;
  width: 100%;
}
.skills ul {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  z-index: 2;
  top: 20%;
}
.skills li {
  width: calc(100% / 5 - 1rem);
  text-align: center;
  font-size: 2.5vw;
  background-color: #6499e9;
  border-radius: 5rem;
  color: #1a1a1a;
  height: fit-content;
  padding: 1.5vw 0;
}
.skills .top .wrap01 {
  animation: aniScroll 15s linear infinite;
}
.skills .top .wrap02 {
  animation: aniScroll_1 15s linear infinite;
}
.skills .bottom .wrap01 {
  animation: aniScroll_3 15s linear infinite;
}
.skills .bottom .wrap02 {
  animation: aniScroll_4 15s linear infinite;
}
.skills .top li:nth-child(1) {
  background-color: #ff008e;
}
.skills .top li:nth-child(2) {
  background-color: #1eae98;
}
.skills .top li:nth-child(4) {
  background-color: #faef5d;
}
.skills .top li:nth-child(5) {
  background-color: #f9f9f9;
}
.skills .bottom li:nth-child(1) {
  background-color: #faef5d;
}
.skills .bottom li:nth-child(2) {
  background-color: #f9f9f9;
}
.skills .bottom li:nth-child(3) {
  background-color: #ff008e;
}
.skills .bottom li:nth-child(4) {
  background-color: #1eae98;
}
@keyframes aniScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes aniScroll_1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes aniScroll_3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes aniScroll_4 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* codingHard */
.codingHard .wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
.codingHard .wrap > li {
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  font-size: 1.2vw;
}
.codingHard .wrap .title {
  font-size: 5vw;
}
.codingHard .wrap .button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5vw;
}
.codingHard .wrap .button li {
  border: 1px solid #6499e9;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 4rem;
  transition: 0.5s;
  cursor: pointer;
}
.codingHard .wrap .button li:hover {
  background-color: #6499e9;
  color: #1a1a1a;
}
.codingHard .wrap .button li a {
  display: block;
}
.codingHard .icon {
  width: 50%;
  background-color: #6499e970;
  box-sizing: border-box;
  padding: 1rem 0;
  gap: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
}
.codingHard .icon img {
  width: 30%;
}
.codingHardF .wrap {
  color: #6499e9;
}
.codingHardF .wrap > li:last-child {
  background-color: #6499e9;
}
.codingHardS .wrap {
  color: #faef5d;
}
.codingHardS .wrap > li:first-child {
  background-color: #faef5d;
}
.codingHardT .wrap {
  color: #1eae98;
}
.codingHardT .wrap > li:last-child {
  background-color: #1eae98;
}

/* codingClone */

/* project */
.project .wrap {
  width: 300%;
  display: flex;
}
.project .wrap > li {
  width: calc(100% / 3);
  height: 100vh;
  position: relative;
}
.project .wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  filter: brightness(0.3);
}
.project .wrap .detail {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  color: #faef5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2vw;
}
.project .wrap .detail h3 {
  font-size: 2vw;
}
.project .wrap .detail h2 {
  font-size: 7vw;
}
.project .wrap .detail .line {
  width: 80%;
  background-color: #faef5d;
  height: 2px;
}
.project .wrap .detail p {
  width: 75%;
  text-align: center;
  line-height: 2;
}
.project .wrap .detail .visit {
  display: flex;
  gap: 1rem;
}
.project .wrap .detail .visit li {
  border: 1px solid #faef5d;
  border-radius: 5rem;
  width: 8vw;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  overflow: hidden;
}
.project .wrap .detail .visit li a {
  display: block;
  transition: 0.5s;
}
.project .wrap .detail .visit li a:hover {
  background-color: #faef5d;
  color: #1a1a1a;
}
.project .nav {
  width: 25%;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.project .nav::before {
  width: 70%;
  height: 2px;
  background-color: #f9f9f98a;
  top: 0;
  content: "";
  border-radius: 1rem;
}
.project .nav .line {
  width: 0%;
  background-color: #faef5d;
  height: 2px;
  position: absolute;
  border-radius: 1rem;
}
.project .nav .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2vw;
}
.project .nav .button i {
  cursor: pointer;
  transition: 0.5s;
}
.project .nav .button i:hover {
  color: #faef5d;
}

/* design */
.design {
  color: #6499e9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  overflow: hidden;
}
.design .title {
  text-align: center;
  font-size: 3vw;
  line-height: 0.7;
}
.design .title span {
  font-size: 2vw;
  box-sizing: border-box;
  padding: 0.5rem;
}
.design .title .photo {
  color: #ff008e;
}
.design .title .illu {
  color: #faef5d;
}
.design .title .more {
  color: #f9f9f9;
}
/* design list */
.design .list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 450%;
  margin-left: 10rem;
  font-size: 1vw;
}
.design .list li {
  width: calc(100% / 17 - 1rem);
  border: 1px solid #ff008e;
  height: 60vh;
  cursor: pointer;
  color: #ff008e;
  overflow: hidden;
}
.design .list li.d {
  border-color: #1eae98;
  color: #1eae98;
}
.design .list li.u {
  border-color: #6499e9;
  color: #6499e9;
}
.design .list li.i {
  border-color: #faef5d;
  color: #faef5d;
}
.design .list li img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.design .list li > div {
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #1a1a1a;
}
.design .list h4 {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 0.5rem;
}
.design .list li::after {
  content: "click";
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.design .list li::after {
  content: "";
  width: 100%;
  height: 60%;
  background: url(../source/index/logo.png) no-repeat center/120px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.5s;
}
.design .list li::before {
  content: "click";
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  font-size: 1.5rem;
  transition: 0.5s;
}
.design .list li:hover img {
  filter: brightness(0.5);
}
.design .list li:hover::after {
  opacity: 1;
  animation: rot 2s infinite linear;
}
.design .list li:hover::before {
  opacity: 1;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* design show */
.design .list_s {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.201);
  backdrop-filter: blur(13px);
  display: none;
}
.design .list_s li {
  height: 70%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.design .list_s img {
  height: 100%;
}
.design .close {
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-size: 2rem;
  color: #f9f9f9;
  display: none;
  cursor: pointer;
}

/* contact */
.contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact > div {
  display: flex;
  justify-content: space-between;
}
/* contact top */
.contact .top {
  padding: 5rem 0 0 5rem;
}
.contact .top h2 {
  font-size: 6vw;
}
.contact .top .wrap {
  display: flex;
  width: 37vw;
  justify-content: space-between;
  align-items: center;
  transform: translateX(5%);
}
.contact .top .circle.one {
  background-color: #f9f9f9;
  animation: 4s ease-in-out 2s infinite;
}
.contact .top .circle.two {
  background-color: #6499e9;
  animation: 4s ease-in-out 2s infinite;
}
.contact .top .cross {
  transform: translateX(15%) scale(0.7);
  animation: 4s ease-in-out 2s infinite;
  z-index: 10;
}
.contact .top .cross li {
  background-color: #ff008e;
}
/* contact middle */
.contact .middle .circle.one {
  background-color: #faef5d;
  animation: 4s ease-in-out 2s infinite;
}
.contact .middle .circle.two {
  background-color: #1eae98;
  animation: 4s ease-in-out 2s infinite;
}
/* contact bottom */
.contact .bottom {
  box-sizing: border-box;
  width: 100%;
  padding-left: 25vw;
  margin-bottom: 5rem;
}
.contact .bottom .wrap {
  display: flex;
  width: 35vw;
  align-items: center;
}
.contact .bottom .txt {
  display: flex;
  width: 30vw;
  gap: 1rem;
  font-size: 2vw;
  line-height: 3;
}
.contact .bottom .circle {
  background-color: #6499e9;
  animation: 4s ease-in-out 2s infinite;
}
.contact .bottom .circle2 {
  background-color: #ff008e;
  transform: rotate(180deg) translateX(25%);
  animation: 4s ease-in-out 2s infinite;
}
.contact .bottom .cross {
  transform: scale(0.7) rotate(45deg);
  animation: 4s ease-in-out 2s infinite;
}
.contact .bottom .cross li {
  background-color: #1eae98;
}
/* 애니메이션 keyframes */
@keyframes mov11 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes mov12 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
@keyframes mov13 {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
@keyframes mov14 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes rot11 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes rot12 {
  0%,
  100% {
    transform: translateX(0) rotate(0deg) scale(1);
  }
  50% {
    transform: translateX(15px) rotate(180deg) scale(1.1);
  }
}

@media (max-width: 800px) {
  /* header top */
  header .top {
    padding: 1rem 1rem;
  }
  header .top h1 a {
    font-size: 2.5vw;
  }
  header .top img {
    width: 5vw;
  }
  /* header bar */
  header .top .bar {
    width: 3vw;
    height: 2vw;
  }
  header .top .bar li {
    width: 100%;
    background-color: #f9f9f9;
    height: 2px;
    border-radius: 5rem;
  }
  /* header menu */
  header .menu .left,
  header .menu .right {
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 15vw;
  }
  header .menu .right {
    justify-content: end;
    padding: 0 1rem 1rem 0;
  }
  header .menu br {
    display: none;
  }
  header .menu .left h2,
  header .menu .right h2 {
    font-size: 13vw;
    color: #1a1a1abd;
  }
  header .menu span {
    font-size: 15vw;
  }
  header .menu .middle {
    width: 100%;
    border: none;
    height: 50%;
  }
  header .menu li {
    height: calc(100% / 6);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* 기본 도형 틀 */
  .circle,
  .circle2,
  .cross {
    width: 15vw;
    height: 15vw;
  }
  .cross .lineX {
    height: 2vw;
  }
  .cross .lineX li {
    width: calc(100% / 2 - 0.8rem);
  }
  .cross .lineY {
    width: 2vw;
  }
  .cross .lineY li {
    height: calc(100% / 2 - 0.8rem);
  }

  /* visual 공통 */
  .visual .top,
  .visual .middle,
  .visual .bottom {
    width: 95%;
  }
  .visual .right {
    height: 15vw;
  }
  /* visual txt */
  .visual h2 {
    font-size: 5.5vw;
  }
  .visual .middle h2 {
    font-size: 10vw;
  }
  .visual .wp,
  .visual .wd {
    height: 15vw;
    width: 55vw;
  }
  .visual .wp h2,
  .visual .wd h2 {
    width: 55vw;
  }
  .visual p {
    font-size: 0.8rem;
  }
  /* visual top */
  .visual .top .right {
    width: 67%;
  }
  /* visual bottom */
  .visual .bottom .right {
    width: 30%;
  }

  /* vision */
  .vision .top br {
    display: block;
  }
  /* vision middle */
  .vision .middle .wrap h2 {
    margin-bottom: 0.5rem;
  }
  .vision .middle .now p,
  .vision .middle .future p {
    line-height: 1.6;
    height: 144px;
    font-size: 1.7vw;
  }
  .vision .middle span {
    font-weight: bold;
    font-size: 2vw;
  }
  /* vision bottom */
  .vision .bottom p {
    line-height: 1.5;
    width: 80%;
    margin: 0px auto;
    font-size: 2vw;
  }

  /* aboutme */
  .aboutMe .title {
    top: 2rem;
    left: 2rem;
    font-size: 15vw;
  }
  .aboutMe .title br {
    display: none;
  }
  /* aboutMe top */
  .aboutMe .top {
    gap: 2.5rem;
  }
  .aboutMe .top h3 {
    font-size: 3.5vw;
  }
  .aboutMe .top i {
    margin-right: 1rem;
  }
  /* aboutMe middle */
  .aboutMe .middle {
    font-size: 1.5vw;
    width: 80%;
  }
  .aboutMe .middle h3 {
    font-size: 1.7vw;
  }
  /* aboutMe bottom */
  .aboutMe .bottom p {
    font-size: 1.5vw;
  }
  .aboutMe .bottom p b {
    font-size: 1.7vw;
  }

  /* design */
  .design .title {
    font-size: 6vw;
  }
  .design .title span {
    font-size: 3vw;
  }
  /* design list */
  .design .list {
    gap: 0.5rem;
    width: 800%;
    font-size: 2.5vw;
  }
  .design .close {
    font-size: 1.5rem;
  }
  .design .list h4 {
    font-size: 3.5vw;
  }
}

@media (max-width: 500px) {
  /* header top */
  header .top {
    padding: 1rem 1rem;
  }
  header .top h1 a {
    font-size: 2.5vw;
  }
  header .top img {
    width: 5vw;
  }
  /* header bar */
  header .top .bar {
    width: 3vw;
    height: 2vw;
  }
  header .top .bar li {
    width: 100%;
    background-color: #f9f9f9;
    height: 2px;
    border-radius: 5rem;
  }
  /* header menu */
  header .menu .left,
  header .menu .right {
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 15vw;
  }
  header .menu .right {
    justify-content: end;
    padding: 0 1rem 1rem 0;
  }
  header .menu br {
    display: none;
  }
  header .menu .left h2,
  header .menu .right h2 {
    font-size: 13vw;
    color: #1a1a1abd;
  }
  header .menu span {
    font-size: 15vw;
  }
  header .menu .middle {
    width: 100%;
    border: none;
    height: 50%;
  }
  header .menu li {
    height: calc(100% / 6);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } /* 기본 도형 틀 */
  .circle,
  .circle2,
  .cross {
    width: 15vw;
    height: 15vw;
  }
  .cross .lineX {
    height: 2vw;
  }
  .cross .lineX li {
    width: calc(100% / 2 - 0.5rem);
  }
  .cross .lineY {
    width: 2vw;
  }
  .cross .lineY li {
    height: calc(100% / 2 - 0.5rem);
  }

  /* design */
  /* design list */
  .design .list {
    gap: 0.5rem;
    width: 1300%;
    font-size: 4vw;
  }
  .design .close {
    right: 4vw;
    font-size: 1.5rem;
  }
  .design .list h4 {
    font-size: 6vw;
  }
}
