@charset "UTF-8";
/* body */
html,
body {
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-family: "Pretendard-Regular";
  word-break: keep-all;
  font-size: 16px;
}
.hidden {
  overflow: hidden;
}
.xhidden {
  overflow-x: hidden;
}
body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../source/index/overlay.gif);
  content: "";
  z-index: 50;
  pointer-events: none;
  opacity: 0.04;
}

/* header */
/* header top */
header .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 22;
}
header .top h1 a {
  font-family: "Hahmlet-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: normal;
}
header .top img {
  width: 45px;
  animation: logo 3s infinite linear;
}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* header bar */
header .top .bar {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}
header .top .bar li {
  width: 100%;
  background-color: #f9f9f9;
  height: 3px;
  border-radius: 5rem;
  transition: 0.5s;
}
header .top .bar li:nth-child(1).on {
  transform: rotate(45deg);
  top: 50%;
  position: absolute;
}
header .top .bar li:nth-child(2).on {
  opacity: 0;
}
header .top .bar li:nth-child(3).on {
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
}
/* header menu background circle */
header .menu_circle {
  position: fixed;
  top: -50px;
  right: -50px;
  width: 50px;
  height: 50px;
  background-color: #f9f9f934;
  border-radius: 50%;
  transition: 1s;
  z-index: 21;
  backdrop-filter: blur(1px);
}
header .menu_circle.on {
  transform: scale(100);
}
/* header menu */
header .menu {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 21;
}
header .menu .left,
header .menu .right {
  width: 25%;
  display: flex;
  align-items: end;
  box-sizing: border-box;
  padding: 0 0 1rem 1rem;
}
header .menu .left h2,
header .menu .right h2 {
  font-size: 6.5rem;
  color: #1a1a1a81;
}
header .menu span {
  font-size: 7.5rem;
  color: #1a1a1a;
}
header .menu .middle {
  width: 50%;
  border-left: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #1a1a1ac8;
}
header .menu .middle li {
  box-sizing: border-box;
  padding: 1.5rem 0;
  width: 100%;
  transition: 0.5s;
  text-align: center;
}
header .menu .middle li a {
  display: block;
}
header .menu .middle li:hover {
  background-color: #f9f9f9;
  color: #1a1a1a;
}
header .menu .middle li.on {
  background-color: #f9f9f9;
  color: #1a1a1a;
}
header .menu.on {
  display: flex;
}
/* header fix menu */
header .fix_menu {
  position: fixed;
  height: 130px;
  right: 1rem;
  top: 50%;
  transform: translateY(-35%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  z-index: 20;
  font-size: 1rem;
}
header .fix_menu li {
  opacity: 0.5;
  transition: 0.5s;
  position: relative;
  width: 7px;
  padding: 0.5rem;
}
header .fix_menu li.on {
  opacity: 1;
}
header .fix_menu li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .fix_menu .cir {
  width: 7px;
  height: 7px;
  background-color: #f9f9f9;
  border-radius: 50%;
  transition: 0.5s;
}
header .fix_menu .cir.on {
  transform: scale(1.5);
}
header .fix_menu p {
  display: none;
  transition: 0.5s;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  text-align: right;
}
header .fix_menu p.on {
  left: -70px;
}

/* main, section */
main {
  width: 100%;
}
section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

/* 기본 도형 틀 */
.circle,
.circle2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 1;
}
.circle2 {
  border-radius: 50% 0 50% 50%;
}
.cross {
  width: 150px;
  height: 150px;
  position: relative;
}
.cross .lineX {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.cross .lineX li {
  width: calc(100% / 2 - 1rem);
  height: 100%;
  background-color: #6499e9;
  border-radius: 5rem;
}
.cross .lineY {
  height: 100%;
  width: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cross .lineY li {
  width: 100%;
  height: calc(100% / 2 - 1rem);
  background-color: #6499e9;
  border-radius: 5rem;
}

.fa-arrow-up {
  transform: rotate(45deg);
}

/* visual */
.visual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 0;
  position: relative;
  gap: 1rem;
}
/* visual 공통 */
.visual > div {
  margin: 0px auto;
}
.visual .top,
.visual .middle,
.visual .bottom {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual .right {
  display: flex;
  align-items: center;
  position: relative;
}
/* visual txt */
.visual h2 {
  font-size: 2.5rem;
  font-family: "twaysky";
}
.visual p {
  font-size: 0.9rem;
}
.visual .wp,
.visual .wd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 130px;
}
.visual .wp h2,
.visual .wd h2 {
  height: 100%;
  padding: 0 3rem;
  border-radius: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
/* visual top */
.visual .top .wp h2 {
  animation: up 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
  opacity: 0;
  background-color: #1eae98;
}
.visual .top .circle2 {
  background-color: #faef5d;
  right: 0;
  position: absolute;
  animation: rot1 1s linear;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .top .circle {
  background-color: #ff008e;
  position: absolute;
  right: -8rem;
  animation: bom1 1s linear;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
/* visual middle */
.visual .middle {
  justify-content: center;
  text-align: center;
}
.visual .middle h2 {
  font-family: "LOTTERIADDAG";
  font-size: 4rem;
}
.visual .name .front {
  width: 100%;
  height: 100%;
  position: absolute;
}
.visual .name .front li {
  width: 100%;
  height: 50%;
  background-color: #1a1a1a;
}
.visual .name .front li:nth-child(1) {
  animation: movB1 2s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.visual .name .front li:nth-child(2) {
  animation: movB2 2s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.visual .middle .circle {
  transform: scale(1.7);
}
.visual .middle > div:first-child {
  background-color: #faef5d;
  position: absolute;
  left: -7rem;
  animation: rot2 1.5s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 0px;
}
.visual .middle div:last-child {
  background-color: #1eae98;
  position: absolute;
  right: -7rem;
  animation: rot3 1.5s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 0px;
}
/* visual bottom */
.visual .bottom .right {
  width: 280px;
  height: 150px;
}
.visual .bottom .wd h2 {
  animation: up 1s linear;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  opacity: 0;
  background-color: #ff008e;
}
.visual .bottom .circle2 {
  background-color: #f9f9f9;
  transform: rotate(180deg);
  animation: rot4 1s linear;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .bottom .circle {
  background-color: #6499e9;
  position: absolute;
  right: 0px;
  animation: rot5 1s linear;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 0px;
}
/*visual cross*/
.visual .crossWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.visual .cross {
  position: absolute;
}
.visual .cross.one {
  right: 15%;
  top: 15%;
  animation: rot6 1s linear;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .cross.two {
  left: 30%;
  bottom: 10%;
  transform: rotate(45deg);
  animation: rot7 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.visual .cross.two li {
  background-color: #faef5d;
}
/* visual animation */
@keyframes movB1 {
  100% {
    transform: translateY(-200px);
  }
}
@keyframes movB2 {
  100% {
    transform: translateY(200px);
  }
}
@keyframes xb {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes rot1 {
  0% {
    transform: translateX(150px) rotate(0deg) scale(0.8);
  }
  100% {
    transform: translateX(80px) rotate(360deg) scale(1);
    opacity: 1;
  }
}
@keyframes rot2 {
  0% {
    transform: translateX(500px) rotate(0deg);
    opacity: 0;
  }
  70% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px) rotate(360deg);
    opacity: 1;
    border-radius: 50%;
  }
}
@keyframes rot3 {
  0% {
    transform: translateX(-500px) rotate(0deg);
    opacity: 0;
  }
  70% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px) rotate(360deg);
    opacity: 1;
    border-radius: 50%;
  }
}
@keyframes rot4 {
  0% {
    transform: translateX(-150px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(360deg);
  }
}
@keyframes rot5 {
  0% {
    transform: translateX(150px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(180deg);
    border-radius: 50%;
  }
}
@keyframes rot6 {
  0% {
    transform: scale(0) rotate(0deg) translateX(150px) translateY(50px);
  }
  100% {
    transform: scale(1) rotate(360deg) translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes rot7 {
  0% {
    transform: scale(0) rotate(360deg);
  }
  55% {
    transform: scale(1.5) rotate(45deg);
  }
  63% {
    transform: scale(0.5);
  }
  72% {
    transform: scale(1.3) rotate(45deg);
  }
  80% {
    transform: scale(0.8);
  }
  86% {
    transform: scale(1.1) rotate(45deg);
  }
  97% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
}
@keyframes bom1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  55% {
    transform: scale(1.5);
  }
  63% {
    transform: scale(0.5);
  }
  72% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(0.8);
  }
  86% {
    transform: scale(1.1);
  }
  97% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* vision */
.vision {
  position: relative;
  z-index: 12;
}
.vision .top br {
  display: none;
}
.vision .top,
.vision .bottom {
  background-color: #6499e9;
  color: #1a1a1a;
}
/* vision top */
.vision .top {
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 5rem 5rem 0 0;
}
.vision .top h2 {
  font-size: 4.5rem;
  font-family: "LOTTERIADDAG";
}
/* vision middle */
.vision .middle {
  height: 50%;
  position: relative;
  background-color: #1a1a1a;
}
.vision .middle .wrap {
  width: 100%;
  height: 70%;
  top: 20%;
  position: absolute;
}
/* vision middle line */
.vision .middle .lineWrap {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vision .middle .line {
  width: 100%;
  height: 1px;
  background-color: #f9f9f9;
}
/* vision middle detail */
.vision .middle .detail {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 0px;
}
.vision .middle .wrap h2 {
  height: 100px;
  border-radius: 5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vision .middle .now,
.vision .middle .future {
  width: 25%;
  text-align: center;
}
.vision .middle .now h2 {
  background-color: #ff008e;
}
.vision .middle .future h2 {
  background-color: #1eae98;
}
.vision .middle .now p,
.vision .middle .future p {
  line-height: 1.7;
  font-size: 0.9rem;
}
.vision .middle span {
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-block;
  margin-bottom: 0.2rem;
}
.vision .middle .now span {
  color: #ff008e;
}
.vision .middle .future span {
  color: #1eae98;
}
/* vision middle circle */
.vision .middle .circle {
  width: 100px;
  height: 100px;
}
.vision .middle .circleL,
.vision .middle .circleR {
  display: flex;
}
.vision .center {
  background-color: #faef5d;
}
.vision .circleL div:first-child {
  background-color: #1eae98;
}
.vision .circleL div:last-child {
  background-color: #f9f9f9;
}
.vision .circleR div:first-child {
  background-color: #6499e9;
}
.vision .circleR div:last-child {
  background-color: #ff008e;
}
/* vision bottom */
.vision .bottom {
  height: 30%;
  box-sizing: border-box;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.vision .bottom h2 {
  font-size: 3.5rem;
}
.vision .bottom .line {
  width: 80%;
  height: 1px;
  background-color: #1a1a1a;
  margin: 0rem auto;
}
.vision .bottom p {
  line-height: 1.5;
  width: 80%;
  margin: 0px auto;
}

/* aboutMe */
.aboutMe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  padding: 1rem 0;
}
.aboutMe .title {
  font-size: 9rem;
  position: absolute;
  opacity: 0.2;
  top: 0rem;
  left: 1rem;
}
/* aboutMe top */
.aboutMe .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.aboutMe .top > li:nth-child(1) {
  border-radius: 1rem;
  border: 1px dashed #f9f9f9;
  text-align: center;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem;
}
.aboutMe .top > li:nth-child(1) img {
  width: 100%;
  border-radius: 1rem;
}
.aboutMe .top li:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.aboutMe .top h3 {
  font-size: 2.5rem;
}
.aboutMe .top i {
  margin-right: 1rem;
  font-size: 1.7rem;
  width: 30px;
  text-align: center;
}
.aboutMe .top .sns i {
  font-size: 2rem;
}
.aboutMe .top li:nth-child(3) {
  display: flex;
  gap: 1rem;
  background-color: #f9f9f970;
  border-radius: 1rem;
}
.aboutMe .top .skillWrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  padding: 1rem;
}
.aboutMe .top .skillWrap img {
  width: calc(100% / 4 - 1rem);
  height: calc(100% / 4 - 1rem);
}
/* aboutMe middle */
.aboutMe .middle {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: top;
  margin: 0px auto;
  font-size: 1rem;
  line-height: 1.8;
}
.aboutMe .middle li {
  display: flex;
  gap: 1.5rem;
  box-sizing: border-box;
  padding: 1rem;
}
.aboutMe .middle h3 {
  font-size: 1.2rem;
}
/* aboutMe bottom */
.aboutMe .bottom {
  width: 100%;
  position: relative;
  height: 25vh;
  line-height: 1.5;
}
.aboutMe .bottom .wrap {
  width: 100%;
  height: 25vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.aboutMe .bottom .wrap .line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  border: 1px solid #f9f9f9;
}
.aboutMe .bottom ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto;
}
.aboutMe .bottom p {
  position: absolute;
  font-size: 0.8rem;
}
.aboutMe .bottom p b {
  font-size: 1rem;
}
.aboutMe .bottom .t {
  top: 50%;
  transform: translateY(-150%);
}
.aboutMe .bottom .b {
  bottom: 50%;
  transform: translateY(150%);
}
.aboutMe .bottom .cir {
  width: 15px;
  height: 15px;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.aboutMe .bottom li:nth-child(3) .cir,
.aboutMe .bottom li:nth-child(5) .cir,
.aboutMe .bottom li:nth-child(8) .cir,
.aboutMe .bottom li:nth-child(9) .cir {
  opacity: 0.3;
}

/* skills */
.skills {
  height: 18vw;
  overflow: hidden;
}
.skills > div {
  height: 50%;
  position: relative;
  width: 100%;
}
.skills ul {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  z-index: 2;
  top: 20%;
}
.skills li {
  width: calc(100% / 8 - 0.5rem);
  text-align: center;
  font-size: 1.8vw;
  border-radius: 5rem;
  padding: 1.2vw 0;
  border: 1px solid;
}
.skills li:first-child {
  margin-left: 0.5rem;
}
.skills .top .wrap01 {
  animation: aniScroll 15s linear infinite;
}
.skills .top .wrap02 {
  animation: aniScroll_1 15s linear infinite;
}
.skills .bottom .wrap01 {
  animation: aniScroll_3 15s linear infinite;
}
.skills .bottom .wrap02 {
  animation: aniScroll_4 15s linear infinite;
}
.skills .top li:nth-child(1) {
  border-color: #ff008e;
  color: #ff008e;
}
.skills .top li:nth-child(2) {
  border-color: #1eae98;
  color: #1eae98;
}
.skills .top li:nth-child(3) {
  border-color: #faef5d;
  color: #faef5d;
}
.skills .top li:nth-child(4) {
  border-color: #6499e9;
  color: #6499e9;
}
.skills .top li:nth-child(5) {
  border-color: #f9f9f9;
  color: #f9f9f9;
}
.skills .top li:nth-child(6) {
  border-color: #1eae98;
  color: #1eae98;
}
.skills .top li:nth-child(7) {
  border-color: #faef5d;
  color: #faef5d;
}
.skills .top li:nth-child(8) {
  border-color: #6499e9;
  color: #6499e9;
}
.skills .bottom li:nth-child(1) {
  border-color: #faef5d;
  color: #faef5d;
}
.skills .bottom li:nth-child(2) {
  border-color: #f9f9f9;
  color: #f9f9f9;
}
.skills .bottom li:nth-child(3) {
  border-color: #1eae98;
  color: #1eae98;
}
.skills .bottom li:nth-child(4) {
  border-color: #ff008e;
  color: #ff008e;
}
.skills .bottom li:nth-child(5) {
  border-color: #6499e9;
  color: #6499e9;
}
.skills .bottom li:nth-child(6) {
  border-color: #f9f9f9;
  color: #f9f9f9;
}
.skills .bottom li:nth-child(7) {
  border-color: #1eae98;
  color: #1eae98;
}
.skills .bottom li:nth-child(8) {
  border-color: #ff008e;
  color: #ff008e;
}
@keyframes aniScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes aniScroll_1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes aniScroll_3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes aniScroll_4 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* codingHard */
.codingHard .wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
.codingHard .wrap > li {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 0 3rem;
}
/* codingHard text */
.codingHard .wrap h2 {
  line-height: 0.5;
}
.codingHard .wrap p {
  line-height: 2;
}
.codingHard .wrap .title {
  font-size: 4rem;
}
.codingHard .wrap .detail a {
  text-decoration: underline;
  color: #faef5d;
}
/* codingHard icon */
.codingHard .icon {
  background-color: #6499e970;
  box-sizing: border-box;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 50%;
  padding: 2rem 0;
}
.codingHard .icon img {
  width: calc(100% / 4 - 1rem);
  height: 80%;
}
/* codingHard button */
.codingHard .wrap .button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  width: 70%;
}
.codingHard .wrap .button li {
  border: 1px solid #6499e9;
  border-radius: 4rem;
  transition: 0.5s;
  width: calc(100% / 3 - 1rem);
  height: 50px;
  line-height: 50px;
}
.codingHard .wrap .button li:hover {
  background-color: #6499e9;
  color: #1a1a1a;
}
.codingHard .wrap .button li a {
  display: block;
}
.codingHard li.image img {
  width: 85%;
}
/* codingHard li 별 css */
.codingHardF .wrap {
  color: #6499e9;
}
.codingHardF .wrap > li:last-child {
  background: linear-gradient(#6499e900 50%, #6499e9);
  border-radius: 2rem;
}
.codingHardS .wrap {
  color: #faef5d;
}
.codingHardS .wrap > li:first-child {
  background: linear-gradient(#faef5d00 50%, #faef5d);
  border-radius: 2rem;
}
.codingHardS .icon {
  background-color: #faef5d70;
}
.codingHardS .wrap .button li {
  border-color: #faef5d;
}
.codingHardS .wrap .button li:hover {
  background-color: #faef5d;
}
.codingHardT .wrap {
  color: #1eae98;
}
.codingHardT .wrap > li:last-child {
  background: linear-gradient(#1eae9800 50%, #1eae98);
  border-radius: 2rem;
}
.codingHardT .icon {
  background-color: #1eae9870;
}
.codingHardT .wrap .button li {
  border-color: #1eae98;
}
.codingHardT .wrap .button li:hover {
  background-color: #1eae98;
}
.codingHardR .wrap {
  color: #f9f9f9;
}
.codingHardR .wrap > li:first-child {
  background: linear-gradient(#f9f9f900 50%, #f9f9f9);
  border-radius: 2rem;
}
.codingHardR .icon {
  background-color: #f9f9f970;
}
.codingHardR .wrap .button li {
  border-color: #f9f9f9;
}
.codingHardR .wrap .button li:hover {
  background-color: #f9f9f9;
}

/* codingClone */
.codingClone {
  position: relative;
  color: #ff008e;
}
/* codingClone title */
.codingClone .titleF {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 8rem;
}
.codingClone .titleS {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 8rem;
}
/* codingClone wrap */
.codingClone .wrap {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 90%;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.codingClone .wrap > li {
  width: calc(100% / 3 - 1rem);
  box-sizing: border-box;
  cursor: pointer;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
/* codingClone detail */
.codingClone .wrap .detail {
  height: 90%;
  width: 100%;
  border-top: 1px solid #ff008e;
  border-bottom: 1px solid #ff008e;
  position: relative;
  box-sizing: border-box;
}
.codingClone .wrap .detail .imageB {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: 0.5s;
  top: 0px;
  left: 0px;
  filter: brightness(0.2);
  opacity: 0.5;
}
.codingClone .wrap .detail:hover img {
  opacity: 1;
  filter: brightness(0.7);
}
.codingClone .wrap .detail .detailWrap {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: 0.5s;
  top: 0px;
  left: 0px;
  padding: 1rem;
  box-sizing: border-box;
}
.codingClone .wrap .detail h3 {
  font-size: 3rem;
}
.codingClone .wrap .detail p {
  margin: 0.5rem 0;
}
/* codingClone button */
.codingClone .wrap .button {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 90%;
  font-size: 0.9rem;
}
.codingClone .wrap .button li {
  width: calc(100% / 3 - 0.7rem);
  text-align: center;
  border-radius: 5rem;
  border: 1px solid #ff008e;
  transition: 0.5s;
}
.codingClone .wrap .button li a {
  display: block;
  padding: 0.7rem 0;
}
.codingClone .wrap .button li:hover {
  background-color: #ff008e;
  color: #1a1a1a;
}

/* project */
.project {
  position: relative;
}
.project .wrap {
  width: 300%;
  display: flex;
  height: 100%;
}
/* project wrap */
.project .wrap > li {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.project .wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  filter: brightness(0.3);
}
/* project wrap text */
.project .wrap .detail {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  color: #faef5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.project .wrap .detail h3 {
  font-size: 1.5rem;
}
.project .wrap .detail h2 {
  font-size: 5rem;
}
.project .wrap .detail p b {
  font-size: 1.2rem;
}
.project .wrap .detail p b a {
  color: #ff008e;
}
.project .wrap .detail p b a:hover {
  text-decoration: underline;
}
.project .wrap .detail .line {
  width: 80%;
  background-color: #faef5d;
  height: 2px;
}
.project .wrap .detail p {
  width: 75%;
  text-align: center;
  line-height: 2;
}
.project .wrap .detail .visit {
  display: flex;
  gap: 1rem;
}
.project .wrap .detail .visit li {
  border: 1px solid #faef5d;
  border-radius: 5rem;
  width: 150px;
  text-align: center;
  overflow: hidden;
}
.project .wrap .detail .visit li a {
  display: block;
  transition: 0.5s;
  padding: 0.7rem 0;
}
.project .wrap .detail .visit li a:hover {
  background-color: #faef5d;
  color: #1a1a1a;
}
/* project navi */
.project .nav {
  width: 250px;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.project .nav::before {
  width: 50%;
  height: 2px;
  background-color: #f9f9f98a;
  top: 0;
  content: "";
  border-radius: 1rem;
}
.project .nav .line {
  width: 0%;
  background-color: #faef5d;
  height: 2px;
  position: absolute;
  border-radius: 1rem;
}
.project .nav .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
}
.project .nav .button i {
  cursor: pointer;
  transition: 0.5s;
}
.project .nav .button i:hover {
  color: #faef5d;
}

/* design */
.design {
  color: #6499e9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  overflow: hidden;
}
.design .title {
  text-align: center;
  font-size: 3rem;
  line-height: 0.7;
}
.design .title span {
  font-size: 2rem;
}
.design .title .photo {
  color: #ff008e;
}
.design .title .illu {
  color: #faef5d;
}
.design .title .more {
  color: #f9f9f9;
}
/*design circle*/
.design .circle {
  position: absolute;
}
.design .circle.one {
  background-color: #faef5d;
  top: -5rem;
  left: 15%;
}
.design .circle.two {
  background-color: #ff008e;
  right: -5rem;
  top: 3rem;
}
.design .circle.three {
  background-color: #1eae98;
  left: -1rem;
  top: 5rem;
}
.design .cross {
  position: absolute;
  top: 2rem;
  right: 20%;
  transform: rotate(30deg);
}
.design .cross li {
  background-color: #1eae98;
}
/* design list */
.design .list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 450%;
  margin-left: 10rem;
}
.design .list li {
  width: calc(100% / 17 - 1rem);
  border: 1px solid #ff008e;
  height: 60vh;
  cursor: pointer;
  color: #ff008e;
  overflow: hidden;
  position: relative;
}
.design .list li.d {
  border-color: #1eae98;
  color: #1eae98;
}
.design .list li.u {
  border-color: #6499e9;
  color: #6499e9;
}
.design .list li.i {
  border-color: #faef5d;
  color: #faef5d;
}
.design .list li img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.design .list li > div {
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #1a1a1a;
}
.design .list h4 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.design .list li::after {
  content: "click";
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.design .list li::after {
  content: "";
  width: 100%;
  height: 60%;
  background: url(../source/index/logo.png) no-repeat center/120px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.5s;
}
.design .list li::before {
  content: "click";
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  font-size: 1.5rem;
  transition: 0.5s;
}
.design .list li:hover img {
  filter: brightness(0.5);
}
.design .list li:hover::after {
  opacity: 1;
  animation: rot 2s infinite linear;
}
.design .list li:hover::before {
  opacity: 1;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* design show */
.design .list_s {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.201);
  backdrop-filter: blur(13px);
  display: none;
  z-index: 18;
}
.design .list_s li {
  height: 70%;
  margin: auto;
  display: none;
}
.design .list_s img {
  height: 100%;
}
.design .close {
  font-size: 2rem;
  color: #f9f9f9;
  cursor: pointer;
  right: -2.5rem;
}
.design .list_s.on {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.design .list_s li.on {
  display: flex !important;
  align-items: start;
  justify-content: center;
}

/* video */
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.video h2 {
  font-size: 3rem;
  text-align: center;
}
.video .wrap {
  width: 90%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
  position: relative;
}
.video .wrap li {
  width: calc(100% / 3 - 1rem);
  height: calc(100% / 2 - 1rem);
  border-radius: 1rem;
  overflow: hidden;
}
.video .wrap li video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video .wrap li.on {
  position: absolute;
  width: 100%;
  height: 100%;
}
.video .wrap li.mov {
  display: none;
}

/* contact */
.contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact > div {
  display: flex;
  justify-content: space-between;
}
/* contact top */
.contact .top {
  padding: 5rem 0 0 5rem;
}
.contact .top h2 {
  font-size: 4rem;
}
.contact .top span {
  background-color: #1eae98;
}
.contact .top .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(5%);
}
.contact .top .circle.one {
  background-color: #f9f9f9;
}
.contact .top .circle.two {
  background-color: #6499e9;
}
.contact .top .cross {
  transform: translateX(15%);
  z-index: 10;
}
.contact .top .cross li {
  background-color: #ff008e;
}
/* contact middle */
.contact .middle .circle.one {
  background-color: #faef5d;
}
.contact .middle .circle.two {
  background-color: #1eae98;
}
/* contact bottom */
.contact .bottom {
  box-sizing: border-box;
  width: 95%;
  margin: 0px auto;
}
.contact .bottom .wrap {
  display: flex;
  align-items: center;
}
.contact .bottom .txt {
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
  line-height: 2;
  background-color: #1eae98;
  box-sizing: border-box;
  padding: 3rem;
  border-radius: 0 3rem 0 0;
}
.contact .bottom .circle {
  background-color: #6499e9;
}
.contact .bottom .circle2 {
  background-color: #ff008e;
  transform: rotate(180deg) translateX(25%);
}
.contact .bottom .cross {
  transform: rotate(45deg);
}
.contact .bottom .cross li {
  background-color: #1eae98;
}

/* tablet */
@media (max-width: 1200px) {
  /* header */
  header .top h1 a {
    font-size: 1rem;
  }
  header .top img {
    width: 40px;
  }
  /* header bar */
  header .top .bar {
    width: 22px;
    height: 17px;
  }
  header .top .bar li {
    height: 2px;
  }
  /* header menu */
  header .menu .left h2,
  header .menu .right h2 {
    font-size: 4.5rem;
  }
  header .menu span {
    font-size: 5.5rem;
  }
  header .menu .middle {
    font-size: 2.5rem;
  }
  /* header fix menu */
  header .fix_menu {
    font-size: 1.2rem;
  }

  /* 기본 도형 틀 */
  .circle,
  .circle2,
  .cross {
    width: 120px;
    height: 120px;
  }
  .cross .lineX {
    height: 15px;
  }
  .cross .lineY {
    width: 15px;
  }

  /* visual */
  /* visual txt */
  .visual h2 {
    font-size: 2.5vw;
    font-family: "twaysky";
  }
  .visual .wp,
  .visual .wd {
    height: 100px;
  }
  .visual .wp h2,
  .visual .wd h2 {
    padding: 0 2rem;
  }
  /* visual top */
  .visual .top .circle {
    right: -6rem;
  }
  /* visual middle */
  .visual .middle h2 {
    font-size: 6vw;
  }
  .visual .middle > div:first-child {
    left: -6rem;
  }
  .visual .middle div:last-child {
    right: -6rem;
  }
  /* visual bottom */
  .visual .bottom .right {
    width: 230px;
    height: 130px;
  }

  /* vision */
  /* vision top */
  .vision .top {
    border-radius: 4rem 4rem 0 0;
  }
  .vision .top h2 {
    font-size: 3.5rem;
  }
  /* vision middle */
  .vision .middle {
    height: 55%;
  }
  .vision .middle .lineWrap {
    height: 70px;
  }
  /* vision middle detail */
  .vision .middle .wrap h2 {
    height: 70px;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .vision .middle .now p,
  .vision .middle .future p {
    line-height: 1.5;
    font-size: 0.8rem;
  }
  .vision .middle span {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  /* vision middle circle */
  .vision .middle .circle {
    width: 70px;
    height: 70px;
  }
  /* vision bottom */
  .vision .bottom {
    height: 25%;
  }
  .vision .bottom h2 {
    font-size: 3rem;
  }
  .vision .bottom p {
    line-height: 1.3;
    font-size: 0.9rem;
  }

  /* aboutMe */
  .aboutMe .title {
    font-size: 7rem;
  }
  /* aboutMe top */
  .aboutMe .top {
    gap: 3rem;
    font-size: 1.1rem;
    width: 90%;
  }
  .aboutMe .top > li:nth-child(1) {
    width: 200px;
  }
  .aboutMe .top h3 {
    font-size: 1.8rem;
  }
  .aboutMe .top i {
    margin-right: 0.3rem;
    font-size: 1.2rem;
    width: 20px;
  }
  .aboutMe .top .sns {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .aboutMe .top .sns i {
    font-size: 1.5rem;
  }
  .aboutMe .top .skillWrap {
    width: 250px;
    height: 250px;
  }
  .aboutMe .top .skillWrap img {
    width: calc(100% / 4 - 1rem);
    height: calc(100% / 4 - 1rem);
  }
  /* aboutMe middle */
  .aboutMe .middle {
    gap: 2rem;
    font-size: 0.9rem;
    line-height: 1.7;
  }
  .aboutMe .middle li {
    gap: 1.2rem;
    padding: 1rem;
  }
  .aboutMe .middle h3 {
    font-size: 1rem;
  }
  /* aboutMe bottom */
  .aboutMe .bottom {
    height: 20vh;
  }
  .aboutMe .bottom .wrap {
    height: 20vh;
  }
  .aboutMe .bottom p {
    width: 200px;
    max-width: 250px;
  }
  .aboutMe .bottom .t {
    transform: translateY(-120%);
  }
  .aboutMe .bottom .b {
    transform: translateY(120%);
  }
  .aboutMe .bottom .cir {
    width: 10px;
    height: 10px;
    background-color: #f9f9f9;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  /* codingHard */
  .codingHard .wrap > li {
    gap: 2rem;
    font-size: 1rem;
    padding: 0 2rem;
  }
  /* codingHard text */
  .codingHard .wrap h2 {
    font-size: 1.3rem;
  }
  .codingHard .wrap .title {
    font-size: 3rem;
  }
  .codingHard .wrap p {
    line-height: 1.5;
  }
  /* codingHard icon */
  .codingHard .icon {
    gap: 1.5rem;
    border-radius: 1rem;
    width: 90%;
    padding: 1rem 0;
  }
  /* codingHard button */
  .codingHard .wrap .button {
    gap: 0.5rem;
    font-size: 1rem;
    width: 90%;
  }
  .codingHard .wrap .button li {
    border-radius: 2rem;
    transition: 0.5s;
    width: calc(100% / 3 - 0.5rem);
    height: 45px;
    line-height: 45px;
  }

  /* codingClone */
  /* codingClone title */
  .codingClone .titleF,
  .codingClone .titleS {
    font-size: 7rem;
  }
  /* codingClone detail */
  .codingClone .wrap .detail h3 {
    font-size: 2rem;
  }
  .codingClone .wrap .detail .detailWrap {
    padding: 0.5rem;
  }
  /* codingClone button */
  .codingClone .wrap .button {
    width: 100%;
    font-size: 0.8rem;
    gap: 0.2rem;
  }
  .codingClone .wrap .button li {
    width: calc(100% / 3 - 0.2rem);
  }

  /* project */
  /* project wrap text */
  .project .wrap .detail {
    font-size: 0.9rem;
  }
  .project .wrap .detail h3 {
    font-size: 1.3rem;
  }
  .project .wrap .detail h2 {
    font-size: 4.2rem;
  }
  .project .wrap .detail p b {
    font-size: 1rem;
  }
  .project .wrap .detail .line {
    height: 1px;
  }
  .project .wrap .detail .visit li {
    width: 120px;
  }
  /* project navi */
  .project .nav .button {
    font-size: 1rem;
  }

  /* design */
  .design .title {
    font-size: 2.5rem;
  }
  .design .title span {
    font-size: 1.5rem;
  }
  /*design circle*/
  .design .circle.one {
    top: -3.5rem;
  }
  .design .circle.two {
    right: -3rem;
  }
  .design .cross {
    top: 1rem;
    right: 10%;
  }
  /* design list */
  .design .list {
    width: 550%;
    font-size: 0.8rem;
  }
  .design .list li {
    height: 50vh;
  }
  .design .list li > div {
    padding: 0.5rem;
  }
  .design .list h4 {
    font-size: 1.5rem;
  }
  /* design show */
  .design .list_s li {
    width: 70%;
  }

  /* contact */
  .contact {
    height: 70vh;
  }
  /* contact top */
  .contact .top {
    padding: 3rem 0 0 3rem;
  }
  .contact .top h2 {
    font-size: 3rem;
  }
  /* contact bottom */
  .contact .bottom .txt {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

/* mobile */
@media (max-width: 750px) {
  /* header */
  /* header top */
  header .top {
    padding: 0.5rem 1rem;
  }
  header .top h1 a {
    font-size: 0.9rem;
  }
  header .top img {
    width: 30px;
  }
  /* header bar */
  header .top .bar {
    width: 20px;
    height: 15px;
  }
  header .top .bar li {
    height: 2px;
  }
  /* header menu */
  header .menu.on {
    display: flex;
    flex-direction: column;
  }
  header .menu .left,
  header .menu .middle,
  header .menu .right {
    width: 100%;
  }
  header .menu .left,
  header .menu .right {
    height: 25%;
  }
  header .menu .left h2,
  header .menu .right h2 {
    font-size: 13vw;
  }
  header .menu span {
    font-size: 20vw;
  }
  header .menu .left br,
  header .menu .right br {
    display: none;
  }
  header .menu .middle {
    height: 50%;
    border: none;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    font-size: 5vw;
  }
  header .menu .middle li {
    padding: 0;
    height: calc(100% / 6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* header fix menu */
  header .fix_menu {
    height: 130px;
    right: 0.5rem;
    font-size: 0.8rem;
  }

  /* main, section */
  section {
    height: 80vh;
  }

  /* 기본 도형 틀 */
  .circle,
  .circle2,
  .cross {
    width: 20vw;
    height: 20vw;
    max-width: 80px;
    max-height: 80px;
  }
  .cross .lineX {
    height: 3vw;
    max-height: 10px;
  }
  .cross .lineX li {
    width: calc(100% / 2 - 0.5rem);
  }
  .cross .lineY {
    width: 3vw;
    max-width: 10px;
  }
  .cross .lineY li {
    height: calc(100% / 2 - 0.5rem);
  }

  /* visual */
  .visual {
    padding: 3rem 0;
    gap: 0.5rem;
  }
  .visual .top,
  .visual .middle,
  .visual .bottom {
    width: 95%;
  }
  /* visual txt */
  .visual h2 {
    font-size: 3.2vw;
    font-family: "twaysky";
  }
  .visual p {
    font-size: 0.8rem;
  }
  .visual .wp,
  .visual .wd {
    gap: 0.5rem;
    height: 18vw;
    max-height: 80px;
  }
  .visual .wp h2,
  .visual .wd h2 {
    padding: 0 2.5vw;
  }
  /* visual top */
  .visual .top .circle2 {
    right: 2rem;
  }
  .visual .top .circle {
    right: -3rem;
  }
  /* visual middle */
  .visual .middle h2 {
    font-size: 7vw;
  }
  .visual .middle > div:first-child {
    left: -2rem;
  }
  .visual .middle > div:last-child {
    right: -2rem;
  }
  /* visual bottom */
  .visual .bottom .right {
    width: 37vw;
    height: 20vw;
    max-width: 140px;
    max-height: 80px;
  }

  /* vision */
  /* vision top */
  .vision .top {
    border-radius: 3rem 3rem 0 0;
  }
  .vision .top br {
    display: flex;
  }
  .vision .top h2 {
    font-size: 6.5vw;
  }
  /* vision middle */
  .vision .middle {
    height: 50%;
  }
  .vision .middle .wrap {
    top: 25%;
  }
  /* vision middle line */
  .vision .middle .lineWrap {
    height: 7vw;
  }
  /* vision middle detail */
  .vision .middle .wrap h2 {
    height: 7vw;
    font-size: 3.5vw;
  }
  .vision .middle .now p,
  .vision .middle .future p {
    font-size: 1.7vw;
  }
  .vision .middle span {
    font-size: 2vw;
    margin-bottom: 0.1rem;
  }
  /* vision middle circle */
  .vision .middle .circle {
    width: 7vw;
    height: 7vw;
  }
  /* vision bottom */
  .vision .bottom {
    gap: 1rem;
    height: 30%;
    padding: 1rem;
  }
  .vision .bottom h2 {
    font-size: 6vw;
  }
  .vision .bottom p {
    line-height: 1.5;
    font-size: 1.7vw;
  }

  /* aboutMe */
  .aboutMe {
    /*   height: 100vh; */
    gap: 1rem;
  }
  .aboutMe .title {
    font-size: 7rem;
  }
  /* aboutMe top */
  .aboutMe .top {
    flex-wrap: wrap;
    gap: 1rem;
    width: 95%;
    font-size: 1rem;
  }
  .aboutMe .top > li:nth-child(1) {
    width: 31vw;
    max-width: 130px;
  }
  .aboutMe .top li:nth-child(2) {
    gap: 0.5rem;
  }
  .aboutMe .top h3 {
    font-size: 1.2rem;
  }
  .aboutMe .top i {
    margin-right: 0.2rem;
    font-size: 1rem;
    width: 15px;
  }
  .aboutMe .top .sns {
    gap: 0.5rem;
  }
  .aboutMe .top .sns i {
    font-size: 1.2rem;
  }
  .aboutMe .top li:nth-child(3) {
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .aboutMe .top .skillWrap {
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
    height: fit-content;
    width: 290px;
    padding: 0.5rem;
  }
  .aboutMe .top .skillWrap img {
    width: calc(100% / 8 - 0.5rem);
  }
  /* aboutMe middle */
  .aboutMe .middle {
    flex-wrap: wrap;
    gap: 1rem;
    line-height: 1.5;
    font-size: 0.7rem;
    width: 80%;
    justify-content: center;
  }
  .aboutMe .middle li {
    gap: 0.5rem;
    padding: 0rem;
    min-width: 250px;
  }
  .aboutMe .middle h3 {
    font-size: 0.8rem;
    width: 50px;
  }
  /* aboutMe bottom */
  .aboutMe .bottom {
    height: 15vh;
  }
  .aboutMe .bottom .wrap {
    height: 15vh;
  }
  .aboutMe .bottom p {
    width: 20vw;
    font-size: 1.2vw;
  }
  .aboutMe .bottom p b {
    font-size: 1.5vw;
  }
  .aboutMe .bottom .t {
    transform: translateY(-125%);
  }
  .aboutMe .bottom .b {
    transform: translateY(125%);
  }

  /* codingHard */
  .codingHard {
    height: 100vh;
  }
  .codingHard .wrap {
    flex-direction: column;
  }
  .codingHard .wrap > li {
    width: 100%;
    height: 40%;
    font-size: 0.7rem;
    gap: 1.5rem;
  }
  .codingHard .wrap > li.txt {
    height: 60%;
  }
  .codingHard .wrap > li.image {
    order: 3;
  }
  /* codingHard text */
  .codingHard .wrap h2 {
    line-height: 0.5;
    font-size: 0.8rem;
  }
  .codingHard .wrap p {
    line-height: 1.5;
  }
  .codingHard .wrap .title {
    font-size: 2rem;
  }
  /* codingHard button */
  .codingHard .wrap .button {
    font-size: 0.8rem;
    width: 100%;
    gap: 0.3rem;
  }
  .codingHard .wrap .button li {
    height: 30px;
    line-height: 30px;
    width: calc(100% / 3 - 0.3rem);
  }

  /* codingClone */
  .codingClone {
    height: 100vh;
  }
  .codingClone .titleF,
  .codingClone .titleS {
    font-size: 3rem;
    text-shadow: 3px 3px #faef5d;
  }
  /* codingClone wrap */
  .codingClone .wrap {
    flex-direction: column;
    height: 75%;
  }
  .codingClone .wrap > li {
    width: 100%;
  }
  /* codingClone detail */
  .codingClone .wrap .detail h3 {
    font-size: 1.5rem;
  }
  .codingClone .wrap .detail p {
    font-size: 0.7rem;
  }

  /* project */

  /* project wrap text */
  .project .wrap .detail {
    font-size: 0.8rem;
  }
  .project .wrap .detail h3 {
    font-size: 1rem;
  }
  .project .wrap .detail h2 {
    font-size: 1.8rem;
  }
  .project .wrap .detail p b {
    font-size: 0.9rem;
  }
  .project .wrap .detail p {
    line-height: 1.3;
  }
  .project .wrap .detail .visit li {
    width: 80px;
  }
  /* project navi */
  .project .nav {
    width: 220px;
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .project .nav .button {
    font-size: 0.9rem;
  }

  /* design */
  .design {
    height: fit-content;
    box-sizing: border-box;
    padding: 2rem 1rem;
    gap: 1.5rem;
  }
  .design .title {
    text-align: center;
    font-size: 1.5rem;
  }
  .design .title span {
    font-size: 1rem;
  }
  .design .circle,
  .design .cross {
    display: none;
  }
  /* design list */
  .design .list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0rem;
    flex-wrap: wrap;
  }
  .design .list li {
    width: calc(100% / 2 - 1rem);
    height: 30vh;
  }
  .design .list li img {
    height: 60%;
  }
  .design .list li > div {
    height: 40%;
    padding: 0.5rem;
    font-size: 0.6rem;
  }
  .design .list h4 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  .design .list li::after {
    background: url(../source/index/logo.png) no-repeat center/80px;
  }
  .design .list li::before {
    font-size: 1rem;
  }

  /* video */
  .video {
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
  }
  .video .wrap {
    height: 60vh;
  }
  .video .wrap li {
    width: calc(100% / 2 - 1rem);
    height: calc(100% / 3 - 1rem);
    border-radius: 1rem;
  }

  /* contact */
  .contact {
    height: 50vh;
    box-sizing: border-box;
  }
  /* contact top */
  .contact .top {
    padding: 0;
  }
  .contact .top h2 {
    font-size: 5.5vw;
    padding: 1rem 0 0 1rem;
  }
  .contact .circle,
  .contact .circle2,
  .contact .cross {
    width: 15vw;
    height: 15vw;
  }
  .contact .cross .lineX {
    height: 2vw;
  }
  .contact .cross .lineY {
    width: 2vw;
  }
  /* contact bottom */
  .contact .bottom .txt {
    font-size: 3vw;
  }
  .contact .bottom .cross {
    position: absolute;
    bottom: 50%;
    right: 50%;
  }
}
