/*logo font*/
@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*visual font*/
@font-face {
  font-family: "LOTTERIADDAG";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*basic font*/
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/*기본설정*/
* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
html,
body {
  background-color: #1a1a1a;
  color: #fffbc5;
  overflow-x: hidden;
  font-family: "Pretendard-Regular";
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0px;
}
/*header logo*/
header .logo {
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  font-family: "Cafe24Oneprettynight";
  font-weight: normal;
}
header .logo img {
  width: 50px;
}
/*header bar*/
header .bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 35px;
  height: 25px;
  cursor: pointer;
}
header .bar li {
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  background-color: #fffbc5;
}
/*header menu*/
header .menu {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(57, 57, 57, 0.315);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  display: none;
}
/*header navi*/
header .menu .navi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
  border-right: 1px solid #fffbc5;
  border-left: 1px solid #fffbc5;
  width: 50%;
  box-sizing: border-box;
}

.con01 {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 0;
}
.con01 > div {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.con01 .right {
  display: flex;
  align-items: center;
  position: relative;
}
.con01 h2 {
  font-size: 3.5rem;
  font-family: "LOTTERIADDAG";
  padding: 2rem 3rem;
  color: #1a1a1a;
  border-radius: 5rem;
  text-align: center;
}
.con01 .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.con01 .circle2 {
  width: 150px;
  height: 150px;
  border-radius: 50% 0 50% 50%;
}

.con01 .top .right {
  width: 850px;
  justify-content: end;
}
.con01 .top h2 {
  background-color: #78ff43;
  position: absolute;
  width: 670px;
  left: 0;
}
.con01 .top .circle {
  background-color: #ff1cc1;
  position: absolute;
  right: -10rem;
}
.con01 .top .circle2 {
  background-color: #f8ff24;
}

.con01 .middle {
  justify-content: center;
}
.con01 .middle h2 {
  font-size: 7rem;
  text-align: center;
  color: #fffbc5;
}
.con01 .middle div:first-child {
  background-color: #f8ff24;
  position: absolute;
  left: -8rem;
}
.con01 .middle div:last-child {
  background-color: #78ff43;
  position: absolute;
  right: -8rem;
}
.con01 .bottom h2 {
  background-color: #ff1cc1;
}
.con01 .bottom .right {
  width: 250px;
}
.con01 .bottom .circle {
  background-color: #00b2ff;
  position: absolute;
  right: 0px;
}
.con01 .bottom .circle2 {
  background-color: #ff1cc1;
  transform: rotate(180deg);
}
.con01 .cross {
  width: 150px;
  height: 150px;
  position: absolute;
}
.con01 .cross .lineX {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.con01 .cross .lineX li {
  width: calc(100% / 2 - 1rem);
  height: 100%;
  background-color: #00b2ff;
  border-radius: 5rem;
}
.con01 .cross .lineY {
  height: 100%;
  width: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.con01 .cross .lineY li {
  width: 100%;
  height: calc(100% / 2 - 1rem);
  background-color: #00b2ff;
  border-radius: 5rem;
}
.con01 .cross.one {
  right: 15rem;
  top: 15rem;
}
.con01 .cross.two {
  left: 30rem;
  bottom: 10rem;
  transform: rotate(45deg);
}
.con01 .cross.two li {
  background-color: #f8ff24;
}

.con02 {
  width: 100%;
  height: 100vh;
}
.con02 .top,
.con02 .bottom {
  background-color: #ff1cc1;
  color: #78ff43;
}
.con02 .top {
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.con02 .top h2 {
  font-size: 7rem;
}
.con02 .middle {
  height: 50%;
  position: relative;
}
.con02 .middle .line {
  width: 100%;
  height: 1px;
  background-color: #bebebe;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.con02 .bottom {
  height: 30%;
  box-sizing: border-box;
  padding: 2rem 0;
  text-align: center;
}
.con02 .bottom h2 {
  font-size: 5rem;
}
.con02 .bottom .line {
  width: 80%;
  height: 1px;
  background-color: #78ff43;
  margin: 1rem auto;
}
.con02 .bottom p {
  line-height: 1.5;
}
